[submodule "home/.janus/YouCompleteMe"]
	path = store/home/.janus/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
	ignore = dirty
[submodule "home/.janus/editorconfig-vim"]
	path = store/home/.janus/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
	ignore = dirty
[submodule "home/.janus/numbers.vim"]
	path = store/home/.janus/numbers.vim
	url = https://github.com/int3h/numbers.vim.git
	ignore = dirty
[submodule "home/.janus/sudo.vim"]
	path = store/home/.janus/sudo.vim
	url = https://github.com/vim-scripts/sudo.vim.git
	ignore = dirty
[submodule "home/.janus/tabular"]
	path = store/home/.janus/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "home/.janus/ultisnips"]
	path = store/home/.janus/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	ignore = dirty
[submodule "home/.janus/vim-session"]
	path = store/home/.janus/vim-session
	url = https://github.com/xolox/vim-session.git
	ignore = dirty
[submodule "home/.janus/vim-surround"]
	path = store/home/.janus/vim-surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "home/.janus/vim-rename"]
	path = store/home/.janus/vim-rename
	url = https://github.com/wojtekmach/vim-rename.git
	ignore = dirty
[submodule "home/.janus/IndentConsistencyCop"]
	path = store/home/.janus/IndentConsistencyCop
	url = https://github.com/vim-scripts/IndentConsistencyCop.git
	ignore = dirty
[submodule "home/.janus/vim-nerdtree-tabs"]
	path = store/home/.janus/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
	ignore = dirty
[submodule "home/.janus/vim-misc"]
	path = store/home/.janus/vim-misc
	url = https://github.com/xolox/vim-misc.git
	ignore = dirty
[submodule "home/.janus/vim-opencl"]
	path = store/home/.janus/vim-opencl
	url = https://github.com/int3h/vim-opencl.git
	ignore = dirty
[submodule "home/.janus/vim-indent-guides"]
	path = store/home/.janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	ignore = dirty
[submodule "home/.janus/auto-pairs"]
	path = store/home/.janus/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
	ignore = dirty
[submodule "home/.janus/vim-latex"]
	path = home/.janus/vim-latex
	url = http://git.code.sf.net/p/vim-latex/vim-latex
	ignore = dirty
[submodule "home/.janus/vim-ansible-yaml"]
	path = store/home/.janus/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
	ignore = dirty
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "dotbot-brew"]
	path = dotbot-plugins/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule "store/home/.vim"]
	path = store/home/.vim
	url = https://github.com/int3h/janus.git
