[user]
	name = Matt Torok
	email = github@overblown.net
[core]
	excludesfile = /Users/mtorok/.gitsupport/gitignore
    editor = mvim -f --nomru -c \"au VimLeave * !open -a Terminal\"
[difftool "sourcetree"]
	cmd = ~/bin/ksdiff-fixed -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = ~/bin/ksdiff-fixed --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	keepBackup = true
	prompt = false
[color]
	ui = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ~/bin/ksdiff-fixed --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	;tool = araxis
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ~/bin/ksdiff-fixed --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	;tool = araxis
	tool = Kaleidoscope
	conflictstyle = diff3
[github]
	user = int3h
[filter "email"]
    smudge = ~/.gitsupport/filters/email/smudge_filter_email
    clean = ~/.gitsupport/filters/email/clean_filter_email
[diff "email"]
    textconv = ~/.gitsupport/filters/email/diff_filter_email
[alias]
    l = log --pretty=format:'%C(yellow)%h %C(green)%ad %C(red)%d%C(reset)%s %C(blue)[%an]%C(reset)' --decorate --date=relative
    ld = log --pretty=format:'%C(yellow)%h %C(red)%d%C(reset)%s %C(blue)[%an]%C(reset)' --decorate --numstat --date=relative
    graph = log --pretty=format:'%C(yellow)%h %C(green)%ad %C(red)%d%C(reset)%s %C(blue)[%an]%C(reset)' --decorate --date=relative --graph
	s = status -sb
    amend = commit --amend
    hash = rev-parse --short --verify HEAD
