[user]
	name = Matt Torok
	email = github+mtgmail@overblown.net
[core]
	excludesfile = /Users/mtorok/.gitignore_global
[difftool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true
[mergetool]
	keepBackup = true
	prompt = false
[color]
	ui = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	;tool = araxis
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[merge]
	;tool = araxis
	tool = Kaleidoscope
[github]
	user = int3h
[filter "email"]
    smudge = ~/.git-filters/email/smudge_filter_email
    clean = ~/.git-filters/email/clean_filter_email
[diff "email"]
    textconv = ~/.git-filters/email/diff_filter_email
[alias]
    l = log --pretty=format:'%C(yellow)%h %C(green)%ad %C(red)%d%C(reset)%s %C(blue)[%an]%C(reset)' --decorate --date=relative
    ld = log --pretty=format:'%C(yellow)%h %C(red)%d%C(reset)%s %C(blue)[%an]%C(reset)' --decorate --numstat --date=relative
    graph = log --pretty=format:'%C(yellow)%h %C(green)%ad %C(red)%d%C(reset)%s %C(blue)[%an]%C(reset)' --decorate --date=relative --graph
	s = status -sb
    amend = commit --amend
