"*":
  "atom-beautify":
    css:
      align_assignments: true
      convert_quotes: "double"
      no_lead_zero: true
    general:
      analytics: false
      beautifyEntireFileOnSave: false
    html:
      brace_style: "expand"
      end_with_newline: true
      extra_liners: [
        "head"
        "body"
        "/html"
        "p"
        "table"
      ]
      indent_inner_html: true
      max_preserve_newlines: 4
      preserve_newlines: false
      unformatted: [
        "bdo"
        "em"
        "strong"
        "dfn"
        "samp"
        "kbd"
        "var"
        "cite"
        "abbr"
        "acronym"
        "q"
        "sub"
        "sup"
        "tt"
        "i"
        "b"
        "big"
        "small"
        "u"
        "s"
        "strike"
        "font"
        "ins"
        "del"
        "pre"
        "address"
        "dt"
      ]
      wrap_attributes_indent_size: 2
      wrap_line_length: 100
    js:
      break_chained_methods: true
      end_with_newline: true
      max_preserve_newlines: 4
      space_before_conditional: false
    json:
      brace_style: "expand"
      end_with_newline: true
      max_preserve_newlines: 4
      space_before_conditional: false
    python:
      max_line_length: 100
  "atom-ternjs":
    inlineFnCompletion: false
    inlineFnCompletionDocumentation: true
    origins: false
    urls: false
    useSnippets: true
    useSnippetsAndFunction: true
  "auto-detect-indentation": {}
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    builtinProviderBlacklist: ".source.gfm, .text.md"
    fileBlacklist: [
      ".*"
      "*.md"
    ]
    includeCompletionsFromAllBuffers: false
    scopeBlacklist: [
      ".comment"
      ".string:not(.template)"
    ]
  "base16-syntax":
    matchUserInterfaceTheme: false
    scheme: "OceanicNext"
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.js": [
        "js"
        "jsx"
      ]
      "source.json": [
        "sublime-project"
        "sublime-workspace"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "Sublime-Style-Column-Selection"
      "autosave"
      "editorconfig"
      "encoding-selector"
      "git-plus"
      "indent-guide-improved"
      "language-babel"
      "language-javascript-jsx"
      "language-typescript-grammars-only"
      "markdown-toc"
      "metrics"
      "minimap-find-and-replace"
      "minimap-git-diff"
      "minimap-linter"
      "project-manager"
      "react"
      "todo-show"
      "docblockr"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".settings"
      ".idea"
      ".vscode"
      "typings"
      "*.js.map"
      ".localized"
      "*.sublime-project"
      "*.sublime-workspace"
      "node_modules"
      "**/assets/libs/**"
      "**/static/libs/**"
    ]
    projectHome: "/Users/mtorok/Documents/Graphistry/graphistry-repos/"
    telemetryConsent: "limited"
    themes: [
      "native-ui"
      "oceanic-reef-syntax"
    ]
  docblockr:
    deep_indent: true
    indentation_spaces: 2
    indentation_spaces_same_para: 4
    min_spaces_between_columns: 2
    spacer_between_sections: true
  editor:
    fontFamily: "Hack"
    fontSize: 11
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    undoGroupingInterval: 400
  "exception-reporting":
    userId: "f30288a8-ada4-dbf9-218f-8a62de00c794"
  "find-and-replace":
    closeFindPanelAfterSearch: true
    openProjectFindResultsInRightPane: true
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "genesis-ui":
    distractionFree:
      hideBottom: false
      hideFiles: false
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    gitPath: "/usr/local/bin/git"
  "gruvbox-plus-syntax":
    contrast: "Hard"
    variant: "No Dimmed Colors"
  "highlight-line":
    hideHighlightOnSelect: true
    underline: "dotted"
  "highlight-selected":
    minimumLength: 2
    showInStatusBar: false
  "language-babel":
    allowLocalOverride: true
    autoIndentJSX: true
    createMap: true
  "language-markdown":
    disableLanguageGfm: false
    removeEmptyListItems: false
  linter:
    gutterEnabled: false
    gutterPosition: "Left"
    ignoreMatchedFiles: "/**/*.min.{js,css}, /**/assets/**"
    lintOnFly: false
    showErrorInline: false
    showErrorTabLine: true
    showProviderName: false
    statusIconScope: "File"
  "linter-eslint":
    eslintrcPath: "/Users/mtorok/.eslintrc"
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  minimap:
    minimapScrollIndicator: false
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
    scrollAnimationDuration: 200
  "minimap-selection":
    highlightCursorsLines: true
  "one-dark-ui":
    fontSize: 13
  "one-light-ui":
    fontSize: 13
  "package-generator":
    packageSyntax: "coffeescript"
  "project-manager":
    showPath: false
  "project-plus":
    newWindow: true
    showPath: true
  "spell-check":
    addKnownWords: true
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
    knownWords: [
      "Jupyter"
    ]
    locales: [
      "en-US"
    ]
  "status-bar":
    cursorPositionFormat: "Line %L, Column %C"
    selectionCountFormat: "(Lines: %L, Chars: %C)"
  tabs:
    enableVcsColoring: true
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/dist/"
      "**/assets/"
      "**/build/"
    ]
    sortAscending: false
    sortBy: "All"
  "tree-view":
    alwaysOpenExisting: true
    autoReveal: true
    squashDirectoryNames: true
  "vim-modeline":
    insertPrefix: "vim"
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 72
    showIndentGuide: false
    softWrap: true
    tabLength: 4
".git-rebase.text":
  editor:
    preferredLineLength: 72
    showIndentGuide: false
    softWrap: true
    tabLength: 4
