"*":
  "atom-beautify":
    css:
      align_assignments: true
      convert_quotes: "double"
      newline_between_rules: true
      no_lead_zero: true
    general:
      analytics: false
      beautifyEntireFileOnSave: false
    html:
      brace_style: "expand"
      end_with_newline: true
      extra_liners: [
        "head"
        "body"
        "/html"
        "p"
        "table"
      ]
      indent_inner_html: true
      max_preserve_newlines: 4
      preserve_newlines: false
      unformatted: [
        "bdo"
        "em"
        "strong"
        "dfn"
        "samp"
        "kbd"
        "var"
        "cite"
        "abbr"
        "acronym"
        "q"
        "sub"
        "sup"
        "tt"
        "i"
        "b"
        "big"
        "small"
        "u"
        "s"
        "strike"
        "font"
        "ins"
        "del"
        "pre"
        "address"
        "dt"
      ]
      wrap_attributes_indent_size: 2
      wrap_line_length: 100
    js:
      break_chained_methods: true
      end_with_newline: true
      max_preserve_newlines: 4
      space_before_conditional: false
    json:
      brace_style: "expand"
      end_with_newline: true
      max_preserve_newlines: 4
      space_before_conditional: false
    python:
      max_line_length: 100
  "atom-ternjs":
    inlineFnCompletion: false
    origins: false
    urls: false
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    builtinProviderBlacklist: ".source.gfm, .text.md"
    fileBlacklist: [
      ".*"
      "*.md"
    ]
    includeCompletionsFromAllBuffers: false
    scopeBlacklist: [
      ".string"
      ".comment"
    ]
  "base16-syntax":
    matchUserInterfaceTheme: false
    scheme: "Yesterday Night"
  core:
    closeEmptyWindows: false
    customFileTypes:
      "source.json": [
        "tern-project"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "metrics"
      "autosave"
      "encoding-selector"
      "indent-guide-improved"
      "minimap-linter"
      "minimap-find-and-replace"
      "react"
    ]
    followSymlinks: false
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      ".settings"
      ".idea"
      ".vscode"
      "typings"
      "*.js.map"
      ".localized"
      "*.sublime-project"
      "*.sublime-workspace"
      "node_modules"
      "**/assets/libs/**"
      "**/static/libs/**"
    ]
    projectHome: "/Users/mtorok/Documents/Graphistry/graphistry-repos/"
    themes: [
      "native-ui"
      "base16-syntax"
    ]
  docblockr:
    deep_indent: true
    indentation_spaces: 2
    indentation_spaces_same_para: 4
    min_spaces_between_columns: 2
    spacer_between_sections: true
  editor:
    antialiasing: true
    backUpBeforeSaving: true
    fontFamily: "Hack"
    fontSize: 11
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    tabLength: 4
    undoGroupingInterval: 400
  "exception-reporting":
    userId: "762d29f8-f913-43b5-da4c-a748ccfeb729"
  "fuzzy-finder":
    preserveLastSearch: true
    searchAllPanes: true
  "git-diff":
    showIconsInEditorGutter: true
  "git-plus":
    gitPath: "/usr/local/bin/git"
  "gruvbox-plus-syntax":
    contrast: "Hard"
    variant: "No Dimmed Colors"
  "highlight-line":
    hideHighlightOnSelect: true
    underline: "dotted"
  "highlight-selected":
    minimumLength: 2
  "language-markdown":
    disableLanguageGfm: false
  linter:
    gutterEnabled: false
    gutterPosition: "Left"
    ignoreMatchedFiles: "/**/*.min.{js,css}, /**/assets/**"
    lintOnFly: false
    showErrorInline: false
    showErrorPanel: false
    showErrorTabLine: true
    showErrorTabProject: false
    showProviderName: false
    statusIconScope: "File"
  "linter-eslint":
    eslintrcPath: "/Users/mtorok/.eslintrc"
    globalNodePath: "/usr/local"
    useGlobalEslint: true
  "markdown-preview":
    breakOnSingleNewline: true
    liveUpdate: false
    useGitHubStyle: true
  minimap:
    adjustMinimapWidthToSoftWrap: false
    devicePixelRatioRounding: false
    minimapScrollIndicator: false
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      linter: true
      linterDecorationsZIndex: 0
      selection: true
      selectionDecorationsZIndex: 0
    scrollAnimation: true
    scrollAnimationDuration: 200
  "minimap-selection":
    highlightCursorsLines: true
  "one-light-ui":
    fontSize: 13
  "package-generator":
    packageSyntax: "coffeescript"
  "project-manager":
    showPath: false
  "seti-ui":
    fileIcons: false
    font: "Default Atom Font"
    themeColor: "Steel"
  "spell-check":
    grammars: [
      "source.asciidoc"
      "source.gfm"
      "text.git-commit"
      "text.plain"
      "text.plain.null-grammar"
      "text.md"
    ]
  "status-bar":
    cursorPositionFormat: "Line %L, Column %C"
    selectionCountFormat: "(Lines: %L, Chars: %C)"
  "todo-show":
    ignoreThesePaths: [
      "**/node_modules/"
      "**/vendor/"
      "**/bower_components/"
      "**/dist/"
      "**/assets/"
      "**/build/"
    ]
  "tree-view":
    autoReveal: true
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
".ansible.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".diff.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".gfm.source":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 2
".md.text":
  editor:
    preferredLineLength: 120
    softWrapHangingIndent: 4
    tabLength: 4
    tabLength: 4
