'.platform-darwin':
  'cmd-t': 'application:new-file'

  # Buffer fuzzy finder is mapped to cmd-b, but we reassign that to bookmark commands below
  'ctrl-alt-o': 'fuzzy-finder:toggle-buffer-finder'
  'ctrl-shift-O': 'fuzzy-finder:toggle-git-status-finder'
  # Assign plain ctrl-o to fuzzy file finder for consistency, though its default cmd-p remains
  'ctrl-o': 'fuzzy-finder:toggle-file-finder'

  # This should really be "make two column layout", as in Sublime, but Atom only knows how to split
  # and close panels, so this will have to do...
  'alt-cmd-2': 'pane:split-right'
  'alt-cmd-1': 'pane:close-other-items'

  # Cmd-m normally minimizes the app, but since we bind "cmd-k cmd-m" to "minimap:toggle" in a text
  # editor, if we have focus wrong, we can accidentally minimize the app. Disables cmd-m to fix.
  'cmd-m': '!unset'

  'cmd-alt-,': 'application:open-your-stylesheet'

  # Disable the "keyboard resolver" shortcut
  'cmd-.': '!unset'


'body.platform-darwin':
  'cmd-=': 'window:increase-all-font-size'
  'cmd--': 'window:decrease-all-font-size'
  'alt-cmd-=': 'window:increase-ui-font-size'
  'alt-cmd--': 'window:decrease-ui-font-size'

  'home': 'core:really-move-to-top'
  'end': 'core:really-move-to-bottom'


'atom-workspace':
  'alt-=': 'window:resize-panes-equally'

  'cmd-alt-c': 'markdown-toc:create'
  'cmd-alt-u': 'markdown-toc:update'
  'cmd-alt-r': 'markdown-toc:delete'


'atom-workspace atom-pane':
  'alt-cmd-=': 'window:increase-ui-font-size'
  'alt-cmd--': 'window:decrease-ui-font-size'


'atom-text-editor':
  'cmd-k cmd-m': 'minimap:toggle'
  'cmd-alt-k cmd-alt-m': 'minimap:toggle-package'

  'alt-g g': 'git-diff:toggle-gutter-icons'

  'end' : 'unset!'
  'home': 'unset!'

  # Use cmd-b as base for bookmark commands, not F2 (cmd-b is normally used for fuzzy file finder)
  'cmd-b': 'bookmarks:toggle-bookmark'
  'shift-cmd-B': 'bookmarks:view-all'
  'ctrl-b': 'bookmarks:jump-to-next-bookmark'
  'shift-ctrl-B': 'bookmarks:jump-to-previous-bookmark'


'.platform-darwin atom-text-editor[data-grammar="text md"]':
  'ctrl-d': 'markdown:toggle-task'


'.platform-darwin .tree-view':
  # `i` is mapped to `tree-view:toggle-vcs-ignored-files`, so `I` is a natural choice here
  'shift-i': 'tree-view:toggle-ignored-names'
